body
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: 1000;
}
/* 動圖樣式 */
.loading .gif {
    height: 32px;
    width: 32px;
    background: url('/static/loading2.gif');
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -16px;
    margin-top: -16px;
    z-index: 1001;
}
