{% extends "base.html" %}
{% block title %}登入{% endblock %}
{% block content %}
<script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery-1.6.1.min.js') }}"></script>

<div align="center">
    <label style="font-size:3rem; font-family:Microsoft JhengHei; font-weight:bold;">登入</label>
</div>
<div class="container">
    <div class="row">

        <div class="col-6">
            <form action="/login" method='post'>
                <p style="font-family:Microsoft JhengHei;font-size:20px">帳號:</p>  <!--前端抓後端的值-->
                <p><input type="text" id="usr" name="usr" class="w-100" style="width: 100px" onkeypress="if (event.keyCode == 13) {return false;}" data-toggle="tooltip" title="請輸入題目" /></p>
                <p style="font-family:Microsoft JhengHei;">密碼:</p>  <!--前端抓後端的值-->
                <p><input type="password" id="pwd" name="pwd" class="w-100" style="width: 100px" /></p>
                <br>
                <input type="submit" class="btn btn-secondary" id="btn1" value="登入" OnClick="" />
                <a href="register"><input type="button" class="btn btn-secondary" id="btn2" value="註冊" /></a>
                <a href="forgive"><input type="button" class="btn btn-secondary" id="btn3" value="忘記密碼" OnClick="" /></a>
                    <input style="display:none;" id="error" value="{{error}}" />
            </form>

        </div>

    </div>
</div>
<script>
    window.onload = function () {
        var tip = document.getElementById('error').value
        if (tip == "error") {
            this.console.log(tip)
            alert('帳號或密碼輸入錯誤!')

        }
    }

</script>
{% endblock %}
