{% extends "base.html" %}
{% block title %}重設密碼{% endblock %}
{% block content %}
<script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery-1.6.1.min.js') }}"></script>


<div align="center">
    <label style="font-size:3rem; font-family:Microsoft JhengHei; font-weight:bold;">重設密碼</label>
</div>
<div class="container">
    <div class="row">

        <div class="col-6">
            <form action="/password_reset" method='post'>
                <p style="font-family:Microsoft JhengHei;">請輸入密碼:</p>  <!--前端抓後端的值-->

                <input type="password" id="pwd" name="pwd" class="w-100" style="width: 100px" onkeypress="if (event.keyCode == 13) {return false;}" data-toggle="tooltip" title="請輸入密碼" required="required" />

                <p style="font-family:Microsoft JhengHei;">再次輸入密碼:</p>  <!--前端抓後端的值-->

                <p><input type="password" id="repwd" name="repwd" class="w-100" style="width: 100px" onkeypress="if (event.keyCode == 13) {return false;}" data-toggle="tooltip" title="請再次輸入密碼" required="required" oninput=";OnInput(event)" /><input id="wrong" value="" style="display:none;outline: none;border: none; color:#FF0000;" readonly="readonly" /></p>


                <input type="submit" class="btn btn-secondary" id="btn2" value="更新密碼" OnClick="" />

            </form>



        </div>

    </div>
</div>
<script>
    function OnInput(event) {
        if ($('#pwd').val() != null && $('#repwd').val() != null) {
            if ($('#pwd').val() != $('#repwd').val()) {
                document.getElementById('wrong').value = "密碼輸入錯誤!"

                $('#wrong').show()
            }
            else {
                $('#wrong').hide()

            }
        }
    }



</script>

{% endblock %}
